<div class="course-item">
  <div class="course-item-header">
    <h2 class="course-item-header__title"></h2>
    <span class="course-item-header__duration"></span>
    <span class="course-item-header__date"></span>
  </div>
  <div class="course-item-content">
    <p class="course-item-content__description"></p>
    <div class="course-item-controls">
      <button class="course-item-controls__edit">Edit</button>
      <button class="course-item-controls__delete">Delete</button>
    </div>
  </div>
</div>
