.search-bar {
  &__field {
    height: 3.6rem;
    padding: 0.9rem 1.2rem;
    margin-right: 1.2rem;
    border-radius: 0.3rem;
    border: 0.1rem solid #acafbf;
    color: #acafbf;
    font-size: 1.4rem;
  }
}
