.courses-list {
  padding: 0 8.5rem;

  & > :not(:first-child) {
    margin-top: 2.4rem;
  }

  &__load-more {
    width: 100%;
    padding: 0.6rem 0;
    border-radius: 0.6rem;
    background: #ffffff;
    box-shadow: 0 0.1rem 0.2rem 0 rgba(29,30,38,0.10), 0 0.2rem 1rem 0 rgba(29,30,38,0.15);
    color: #5681EE;
    font-size: 1.2rem;
    text-decoration: underline;
    border: none;
    cursor: pointer;
  }
}
