<section class="courses-list">
  <div class="courses-list__item" *ngFor="let course of courses">
    <vc-course-item [course]="course" (deleteCourse)="confirmDeleting($event)">
    </vc-course-item>
  </div>
  <button class="courses-list__load-more" (click)="loadMore()">
    <ng-container *ngIf="courses.length; then loadMoreLabel else noDataLabel"></ng-container>
    <ng-template #loadMoreLabel>Load more</ng-template>
    <ng-template #noDataLabel>No data. Feel free to add new course</ng-template>
  </button>
</section>
