.course-form {
  width: 60%;
  margin: 0 auto;
  padding: 2.3rem 2.5rem;
  border-radius: 0.6rem;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 0 0.1rem 0.2rem 0 rgba(29,30,38,0.10), 0 0.2rem 1rem 0 rgba(29,30,38,0.15);
}
