.breadcrumbs {
  height: 6.4rem;
  padding: 0 8.5rem;
  display: flex;
  align-items: center;
  background-color: #ffffff;

  &__list {
    display: flex;
  }

  &__item:not(:last-child) {
    ::after {
      content: '/';
      color: #009ECC;
      margin-right: 0.3rem;
    }
  }

  &__link {
    color: #464A5A;
    font-size: 1.4rem;
    text-decoration: none;
    cursor: pointer;

    &--active {
      font-weight: bold;
    }
  }
}
