.breadcrumbs {
  height: 6.4rem;
  padding: 0 8.5rem;
  display: flex;
  align-items: center;
  background-color: #ffffff;

  &__item {
    color: #464A5A;
    font-size: 1.4rem;
    text-decoration: none;
    cursor: pointer;

    &--active {
      font-weight: bold;
    }
  }

  &__divider {
    margin: 0 0.5rem;
    color: #009ECC;
    font-size: 1.4rem;
  }
}
