@import "~@fortawesome/fontawesome-free/css/all.css";

html {
  height: 100%;
  font-size: 10px;
}

body {
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
  background-color: #f5f6fa;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  margin: 0;
  padding: 0;
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
li {
  margin: 0 !important;
}
